<div>
  <h1>Edit Customers info</h1>
  <form>
    <div>
      <label for="c-id" class="pad">customer ID</label>
      <input name="c-id" placeholder="autogen value" disabled />
    </div>
    <div>
      <label for="c-name" class="pad">customer Name</label>
      <input name="c-name" placeholder="customer name" />
    </div>
    <div>
      <label for="c-man" class="pad">Main Account Number</label>
      <input name="c-man" placeholder="Main Account Number" disabled />
    </div>
    <div>
      <label for="c-mc" class="pad">Main Currency</label>
      <input name="c-mc" placeholder="Main Currency" />
    </div>
    <div>
      <label for="c-tb" class="pad">Total Balance</label>
      <input name="c-tb" placeholder="Total Balance" />
    </div>

    <div>
      <label for="">Create Accounts under main account with different types</label>
    </div>
    <div>
      <label for="c-y" class="pad1">yes</label>
      <input name="c-y" id="c-y" type="radio" value="yes" />
      <label for="c-n" class="pad1">no</label>
      <input name="c-y" id="c-n" type="radio" value="no" />
    </div>
    <div>
      <label for="c-an" class="pad">Account Number</label>
      <input name="c-an" placeholder="autogen value" disabled />
    </div>
    <div>
      <label for="c-c" class="pad">Currency</label>
      <select name="c-c">
        <option value="NIS">NIS</option>
        <option value="USD">USD</option>
        <option value="JOD">JOD</option>
        <option value="EUR">EUR</option>
      </select>
    </div>


    <div>
      <label for="c-b" class="pad">Balance</label>
      <input name="c-b" placeholder="Balance" />
    </div>

    <input class="btn-submit" type="submit" value="SAVE"/>
    <input class="btn-submit" type="submit"  value="CANCEL" />

  </form>
</div>
