<h1>customer-actions</h1>
<div>
  <form>

    <p>choose account to transfer from and to</p>
    <div>
      <label class="bld"><b>FROM</b>&nbsp;&nbsp;</label>
      <label for="a-c" class="pad"> Account &nbsp;</label>
      <select name="a-c" id="a-c">
        <option value="ACC">ACC</option>
        <option value="ACC2">ACC2</option>
        <option value="ACC1">ACC1</option>
        <option value="ACC4">ACC4</option>
      </select>
      <label class="bld">&nbsp;&nbsp;<b>TO</b>&nbsp;&nbsp;</label>
      <label for="a-c" class="pad"> Account &nbsp;</label>
      <select name="a-c" id="a-c">
        <option value="ACC">ACC</option>
        <option value="ACC2">ACC2</option>
        <option value="ACC1">ACC1</option>
        <option value="ACC4">ACC4</option>
      </select>
    </div>
    <p>Please enter the money amount</p>
    <label for="amt">Amount</label>
    <input id="amt" placeholder="money amount" />

    <br />
    <input type="submit" />
  </form>
</div>
