
<p *ngIf="!dataSource"><em>Loading...</em></p>
<div class="commands text-right" *ngIf="dataSource">
  <button type="button"
          [routerLink]="['/customers/create']"
          class="btn btn-success">
    Add a new Customer
  </button>
</div>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>
<div *ngIf="{ a: true }; let variable">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">


    <ng-container matColumnDef="CustomerName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
    </ng-container>
    mainCurrency Column
    <ng-container matColumnDef="mainCurrency">
      <th mat-header-cell *matHeaderCellDef> Main Currency </th>
      <td mat-cell *matCellDef="let element"> {{element.mainCurrency}} </td>
    </ng-container>
    accId Column
    <ng-container matColumnDef="MainAccountNumber">
      <th mat-header-cell *matHeaderCellDef> Main Account Number </th>
      <td mat-cell *matCellDef="let element"> {{element.mainAccountNumber}} </td>
    </ng-container>
    totalBalance Column
    <ng-container matColumnDef="totalBalance">
      <th mat-header-cell *matHeaderCellDef> Total Balance </th>
      <td mat-cell *matCellDef="let element">
        {{element.totalBalance | currency : element.mainCurrency}}
        <button id="btnAccEq" (click)="variable.a = false;getCustomerEquality(element.mainAccountNumber)" class="pad" mat-icon-button aria-label="Go to Customer Compare">
          <mat-icon>done_all</mat-icon>
        </button>
        <button id="btnAccHis" (click)="variable.a = false;getCustomerTransHistory(element.customerId)" class="pad" mat-icon-button aria-label="Go to Customer History">
          <mat-icon>open_in_new</mat-icon>
        </button>
        <button id="btnAccTrans" (click)="variable.a = false;doTransaction(element.customerId)" class="pad" mat-icon-button aria-label="doTransaction">
          <mat-icon>import_export</mat-icon>
        </button>
      </td>
    </ng-container>








    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

          <table class="table">
            <tr>
              <th scope="col">Account Number</th>
              <th scope="col">Account Currency</th>
              <th scope="col">Account Balance</th>
              <th scope="col">Account Types</th>
            </tr>
            <tr *ngFor="let item of CustomerAccountsSource.data">
              <td style="z-index: -1;" scope="row"> {{ item.accountNumber }} </td>
              <td style="z-index: -1;" scope="row"> {{ item.currency }} </td>
              <td style="z-index: -1;" scope="row"> {{ item.balance | currency : item.currency }} </td>

              <td style="z-index: -1;" scope="row">
                <mat-select matNativeControl matInput [(value)]="selected" placeholder="viewAccountTypes">
                  <div *ngFor="let accID of accountTypesDataSource">
                    <div *ngIf="item.accId == accID.accIdtyp">
                      <mat-option [value]="accID.accountType" selected="accID.accountType">{{ accID.accountType }}</mat-option>
                    </div>
                  </div>
                </mat-select>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="getAccountTypes(element.customerId); getAccounts(element.customerId, variable.a); variable.a=true; expandedElement = element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>


<!--<table *ngIf="CustomerAccountsSource" mat-table [dataSource]="CustomerAccountsSource" multiTemplateDataRows class="mat-elevation-z8">

  <ng-container matColumnDef="AccountNumber">
    <th mat-header-cell *matHeaderCellDef> AccountNumber </th>
    <td mat-cell *matCellDef="let account"> {{account.accountNumber}} </td>

  </ng-container>
  accountNumber Column
  <ng-container matColumnDef="Currency">
    <th mat-header-cell *matHeaderCellDef> Account Currency </th>
    <td mat-cell *matCellDef="let account"> {{account.currency}} </td>
  </ng-container>
  AccountCurrency Column
  <ng-container matColumnDef="Balance">
    <th mat-header-cell *matHeaderCellDef> Account Balance </th>
    <td mat-cell *matCellDef="let account"> {{account.balance}} </td>
  </ng-container>
  balance Column
  <ng-container matColumnDef="AccId">
    <th mat-header-cell *matHeaderCellDef> Account ID </th>
    <td mat-cell *matCellDef="let account"> {{account.accId}} </td>

  </ng-container>
  accId Column

  <tr mat-header-row *matHeaderRowDef="displayedAccountsColumns"></tr>

</table>-->
