<p *ngIf="!currencyDataSource"><em>Loading...</em></p>
<mat-card>
  <form [formGroup]="form">
    <mat-form-field class="example-full-width">
      <mat-label>First name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Currency</mat-label>
      <mat-select [(ngModel)]="selectedValue" matNativeControl matInput formControlName="mainCurrency" required>
        <mat-option *ngFor="let curren of currencyDataSource" [value]="curren.currency">{{ curren.currency }}</mat-option>
      </mat-select>
    </mat-form-field>
    <!--<mat-form-field class="example-full-width">
        <mat-label>Currency</mat-label>
        <input matInput formControlName="mainCurrency">
    </mat-form-field>-->

    <mat-form-field class="example-full-width">
      <mat-label>Account Number</mat-label>
      <input matInput formControlName="MainAccountNumber" [(ngModel)]="autoGenNumber" [value]="autoGenNumber" readonly>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Total Balance</mat-label>
      <input matInput formControlName="totalBalance">
    </mat-form-field>

    <hr>
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------->


    <div formArrayName="moreForms">
      <div class="moreForms"
           *ngFor="
        let team of form.get('moreForms').controls;
        let i = index"
           [formGroupName]="i">

        <!--<mat-form-field class="example-full-width">
    <mat-label>Account Number</mat-label>
    <input matInput formControlName="subAccountNumber" [value]="autoGenSubNumber" readonly>
  </mat-form-field>-->

        <mat-form-field>
          <mat-label>Currency</mat-label>
          <mat-select matNativeControl matInput formControlName="currency" required>
            <mat-option *ngFor="let curren of currencyDataSource" [value]="curren.currency">{{ curren.currency }}</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-label>Balance</mat-label>
          <input matInput formControlName="balance" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Account Type</mat-label>
          <mat-select formControlName="accountTypes" multiple required>
            <mat-option *ngFor="let accTypDS of accountTypesDS" [value]="accTypDS.accountType">{{accTypDS.accountType}}</mat-option>
          </mat-select>
        </mat-form-field>



        <button id="btnAddAcc" (click)="addMoreForms()" class="pad" mat-icon-button aria-label="addaccountForm">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <button *ngIf="i != 0" id="btnDelAcc" (click)="deleteForm(teamIndex)" class="pad" mat-icon-button aria-label="addaccountForm">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
        <hr />
      </div>
    </div>

          

  </form>
  <div class="form-group commands">
    <!--<mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
    </mat-card-actions>-->
    <button *ngIf="!id" type="submit"
            (click)="onSubmit()"
            [disabled]="form.invalid"
            class="btn btn-success">
      Create
    </button>

    <button type="button"
            [routerLink]="['/customers']"
            class="btn">
      Cancel
    </button>
  </div>
</mat-card>
